* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
    --nf-blue: #fafaf9; /* CONTAINER */
    --nff-blue: #084ccf; /* FOOTER */
    --nff-line: #215ed4; /* FOOTER LINE*/
  /*--nff-line: #215ed4;*/
  /*--nf-blue: #084ccf;*/
  --nf-font: #d4d4d8;
  /*--nf-white: #f6f5f0;*/
  --nf-white: #0c0a09;
  --nf-white-nav: #0c0a0980;
  --nf-white-btn: #f6f5f0;
  --nf-line: #444444;
  --nf-line-git: #c7d3e9;
  --nf-black: #222222;
  --nf-gray-card: #E7E7E7;
  --nf-white-alternative: #FAFAFA;
  --transicao: background-color 200ms ease, color 200ms ease;

  /* FOOTER COLORS */
  --nff-white: #f6f5f0;
  --nff-contrast: #C0C5CE;

  /* FONTS */
  --nf-title: 'Poppins', sans-serif;
  --nf-subtitle: 'IBM Plex Sans', sans-serif;
  --nf-logo: 'Coolvetica', sans-serif;
  --nf-subtitle-alternative: 'JetBrains Mono', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--nf-white);
  font-family: var(--nf-subtitle);
  transition: var(--transicao);
  overflow-x: hidden;
  margin-top: 2rem;
  background-image: url(/assets/hero.svg);
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container section {
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 25% cover 25%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* RETURN BUTTON */

#return_button {
  width: 48px;
  height: 48px;
  background-color: #232328;
  border: 1px solid var(--nf-line-git);
  border-radius: 999px;
  color: var(--nf-font);
  font-size: 20px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: ease 200ms;
  z-index: 1;
}

#return_button:hover {
  transform: translateY(-5px);
}

/* NAVBAR */
nav {
  width: 100%;
  height: 4rem;
  display: flex;
  position: sticky;
  top: 0;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

#logo {
  text-decoration: none;
  color: var(--nf-blue);
  font-family: var(--nf-logo);
  font-size: 32px;
}

.nav-routes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-phone-routes {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.nav-routes > button {
    width: auto;
    padding: 6px 6px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: var(--nf-font);   
    transition: all 250ms;
    background-color: transparent;
    border: none;
    transition: ease 150ms;
}

.nav-routes > button:hover {
  color: #fafafa;
  background-color: #00000049;
}

/* BANNER */

#banner {
  width: 100%;
  height: 564px;
  display: flex;
}

.banner-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}

#banner-pjt {
  background-color: #18181B;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--nf-line);
  border-radius: 999px;
  padding: 6px 10px;
  height: 32px;
  gap: 6px;
  margin-bottom: 1rem;
}

#banner-pjt:hover {
  background-color: #272930;
}

#banner-pjt > i {
  margin-top: 2.8px;
}

.banner-info > h1 {
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.banner-info > h2 {
  color: var(--nf-font);
  font-family: var(--nf-subtitle);
  line-height: 1.6;
  font-size: 20px;
}

.banner-buttons {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  font-size: 0.90rem;
  align-items: center;
  gap: 1.5rem;
  justify-content: start;
  margin-top: 1rem;
}

.banner-buttons > a {
  height: 40px;
  padding: 10px 14px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--nf-font);
  border: 1px solid var(--nf-line);
  gap: 1rem;
  background-color: #ffffff1A;
  font-weight: 600;
}

.banner-buttons > button {
  height: 40px;
  padding: 10px 12px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--nf-font);
  border: 1px solid var(--nf-line);
  gap: 1rem;
  background-color: #ffffff1A;
  font-weight: 600;
  transition: ease 200ms;
}

.banner-buttons > button:hover {
  opacity: 80%;
}

.banner-buttons > button > i {
  font-size: 17px;
}

.banner-buttons > a:hover {
  opacity: 80%;
}

.banner-buttons > a > i {
  font-size: 17px;
}

.banner-image {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.banner-image > img {
  width: 450px;
}

/* ABOUT */

#about {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 4rem;
}

.about-info {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

#line {
  width: 400px;
  height: 1px;
  background-color: var(--nf-line);
}

.about-info > h1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 400;
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.about-info > p {
  font-size: 20px;
  line-height: 1.7;
  text-align: justify;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
}

/* RIBBON */

#ribbon {
  width: 100%;
  height: 156px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.ribbon-title {
  width: 100%;
  height: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nf-line);
}

#ribbon span {
  background-color: var(--nf-white);
  padding: 0px 1rem;
  color: var(--nf-blue);
}

.ribbon-logos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.ribbon-logos img {
  transition: ease 250ms;
}

.ribbon-logos img:hover {
  transform: translateY(-5px);
}

/* SKILLS */

#skills {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.skills-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.skills-header > h1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 400;
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.skills-header > p {
  font-size: 19px;
  line-height: 1.7;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
  padding-bottom: 1rem;
}

.skills-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.skills-item {
  width: 200px;
  height: 120px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--nf-line);
  font-family: var(--nf-title);
  color: var(--nf-font);
  transition: ease 200ms;
  user-select: none;
}

.skills-btn {
  width: 200px;
  height: 120px;
  border-radius: 8px;
  background-color: var(--nf-blue);
  color: var(--nf-white);
  display: flex;
  padding: 1rem;
  border: none;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  font-family: var(--nf-title);
  transition: ease 200ms;
}

.skills-btn:hover {
  opacity: 90%;
  transform: translateY(-5px);
}

.skills-btn > span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 20px;
}

.skills-item:hover {
  transform: translateY(-5px);
  background-color: #161616;
}

.skills-item > i {
  font-size: 40px;
}

/* PROJECTS */

#projects {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.projects-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.projects-header > h1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 400;
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.projects-header > p {
  font-size: 19px;
  line-height: 1.7;
  text-align: justify;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
  padding-bottom: 1rem;
}

.projects-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.projects-item img {
  width: 99.99%;
}

.projects-item {
  width: 400px;
  padding: 16px;
  border-radius: 26px;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  border: 1px solid var(--nf-line);
}

.projects-item > img {
  border-radius: 10px;
}

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.projects-item-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin: 0px;
}

#tags {
  padding: 4px 8px;
  border-radius: 8px;
  margin-top: 1rem;
  color: #3b88e9;
  background-color: #091422;
}

.projects-item-body > h1 {
  color: var(--nf-blue);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.3px; /* 170% */
}

.projects-item-body > p {
  color: var(--nf-font);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projects-item-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#repobtn {
  width: 258px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  border-radius: 10px;
  font-weight: 500;
  background-color: #0a0a0a;
  border: 1px solid var(--nf-line);
  color: var(--nf-font);
  text-decoration: none;
  transition: ease 200ms;
}

#repobtn:hover {
  background-color: var(--nf-blue);
  color: var(--nf-white);
}

#trybtn {
  display: flex;
  width: 89px;
  height: 40px;
  border-radius: 10px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nf-blue);
  color: var(--nf-white);
  font-weight: 500;
  text-decoration: none;
  transition: ease 200ms;
}

#trybtndsct {
  display: flex;
  width: 89px;
  height: 40px;
  border-radius: 10px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nf-line);
  color: var(--nf-font);
  border: none;
  font-weight: 500;
  text-decoration: none;
  transition: ease 200ms;
  cursor: not-allowed;
}

#trybtn:hover {
  opacity: 80%;
}

/* GET IN TOUCH */

#getintouch {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.getintouch-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.getintouch-header > h1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 400;
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.getintouch-header > p {
  font-size: 19px;
  line-height: 1.7;
  text-align: justify;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
  padding-bottom: 1rem;
}

#cnt {
  background-color: var(--nf-line-git);
  width: 100%;
  height: 1px;
}

.getintouch-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.getintouch-body-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.getintouch-body-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getintouch-body-right-container {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

#details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#details-title:hover {
  text-decoration: underline;
}

#details > h1 {
  font-size: 12px;
  text-transform: uppercase;
  font-family: var(--nf-title);
  font-weight: 600;
  color: var(--nf-blue);
  margin-bottom: 1rem;
}

#details > p {
    font-family: var(--nf-title);
    font-size: 14px;
    color: var(--nf-font);
    line-height: 1;
}

#details > a {
    font-family: var(--nf-title);
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    color: var(--nf-font);
}

.getintouch-body-left-card {
  width: 600px;
  height: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 1px solid var(--nf-line);
  border-radius: 22px;
}

#contactForm {
  width: 100%;
}

#contactForm > input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 0px 8px;
  background-color: transparent;
  border-bottom: 1px solid var(--nf-line);
  outline: none;
  transition: ease 250ms;
  color: var(--nf-font);
}

#contactForm > textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 8px;
  resize: none;
  outline: none;
  border-bottom: 1px solid var(--nf-line);
  color: var(--nf-font);
}

#contactForm > input:focus {
  border-bottom: 1px solid var(--nf-blue);
}

#contactForm > label {
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
  margin-left: 8px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: start;
  gap: 1rem;
}

#contactForm > button {
  width: 50%;
  height: 40px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  background-color: var(--nf-blue);
  color: var(--nf-white);
  border-radius: 10px;
}

#contactForm > button:hover {
  opacity: 80%;
}

#contactForm > button > i {
  font-size: 20px;
}

/* FOOTER */

.footer {
  margin-top: 3rem;
  width: 100%;
  height: max-content;
  display: flex;
  gap: 1rem;
  background: url(/assets/cta.svg);
  background-size: cover;
}

.footer-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 64px 24px;
  margin: 0px 116px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.footer-logo > p {
  font-size: 12px;
  font-family: var(--nf-subtitle);
  color: var(--nff-contrast);
}

#footer-logo {
  text-decoration: none;
  color: var(--nff-white);
  font-family: var(--nf-logo);
  font-size: 32px;
}

.footer-col {
  width: 178px;
  height: 188px;
  display: flex;
  flex-direction: row;
}

.footer-line {
  width: 1px;
  height: 100%;
  background-color: var(--nf-line);
  margin-right: 40px;
}

.footer-content {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.footer-content > h1 {
  font-size: 20px;
  color: var(--nff-white);
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-family: var(--nf-title);
}

.footer-content > a {
  text-decoration: none;
  font-family: var(--nf-subtitle);
  color: var(--nff-contrast);
  font-size: 14px;
}

.footer-content > a:hover {
  color: var(--nff-white);
}

.footer-content > button {
  text-decoration: none;
  font-family: var(--nf-subtitle);
  color: var(--nff-contrast);
  font-size: 14px;
  border: none;
  background: transparent;
}

.footer-content > button:hover {
  color: var(--nff-white);
}

#btnModo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 1rem;
  width: 136px;
  height: 40px;
  border: var(--nff-white) 1px solid;
  background-color: var(--nff-blue);
  color: var(--nff-white);
}

.dd-btn::part(base) {
  background-color: transparent;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #27272a;
}

::-webkit-scrollbar-thumb {
  height: 64px;
  background-color: #3f3f46;
  border-radius: 10px;
}

/* SERVICES */

#services {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.services-header {
  width: 80%;
}

.services-container {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 1rem 0px;
  gap: 1.5rem;
}

.s-card {
  width: 400px;
  height: 307.1px;
  padding: 1.5rem;
  background-color: #111111;
  border: 1px solid var(--nf-line);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 26.45px;
  transition: ease 150ms;
}

.s-card:hover {
  background-color: #161616;
  transform: translateY(-2px);
}

.s-card-icn {
  width: 48px;
  height: 48px;
  border-radius: 10.45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(42,42,45);
  background: linear-gradient(146deg, rgba(42,42,45,1) 0%, rgba(26,26,29,1) 100%);
  border: 1px solid var(--nf-line);
  color: #FAFAFA;
  margin-bottom: 1.2rem;
}

.s-card > h5 {
  color: var(--nf-blue);
  font-size: 22px;
  font-weight: 500;
  line-height: 32.3px;
  font-family: var(--nf-title)
}

.s-card > p {
  color: var(--nf-font);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  margin: 0;
}

.services-header > h1 {
  color: var(--nf-blue);
  font-size: 24px;
  font-weight: 400;
  line-height: 32.3px;
  font-family: var(--nf-title)
}

.services-header > p {
  color: var(--nf-font);
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* PHONE SCREEN */

@media (max-width: 990px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
  }

  .container {
    padding: 0px 1.5rem;
  }
  nav {
    position: sticky;
    top: 0;
  }
  .nav-routes {
    display: none;
  }
  .nav-phone-routes {
    display: flex;
  }
  .banner-image {
    display: none;
  }
  .banner-info {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .banner-info > h1, h2 {
    text-align: center;
  }
  .banner-info > h1 {
    font-size: 2rem;
  }
  .banner-info > h2 {
    line-height: 1.7;
    text-align: center;
    font-family: var(--nf-subtitle);
    color: var(--nf-font);
    font-size: 19px;
  }
  .banner-buttons {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .banner-buttons > button {
    width: 172px;
  }

  /* RIBBON */

  #ribbon {
    width: 100%;
    height: max-content;
    display: flex;
    padding: 1rem 0px;
  }

  .skills-item {
    width: 156px;
    height: 156px;
    border-radius: 100%;
  }

  .skills-btn {
    display: none;
  }

  .ribbon-logos {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  /* ABOUT PHONE */

  #about {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
  }

  #line {
    width: 100%;
  }

  .about-info {
    width: 100%;
    height: max-content;
  }

  .about-card {
    width: 100%;
  }

  .a-card-header {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .a-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  /* SKILLS */

  .skills-header {
    width: 100%;
    text-align: justify;
  }

  .skills-wrapper {
    align-items: center;
    justify-content: center;
  }

  /* PROJECTS */

  .projects-item {
    width: 100%;
  }

  .projects-item-button {
    gap: 1rem;
  }

  /* GET IN TOUCH */

  .getintouch-body-right {
    display: none;
  }

  .getintouch-body-left {
    width: 100%;
  }

  .getintouch-body-left-card {
    width: 100%;
  }
  #contactForm > button {
    width: 100%;
  }

  /* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 4rem;
}

  .footer-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .footer-logo {
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .footer-line {
    display: none;
  }

  .footer-content {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
  }

  .services-header {
    width: 100%;
    text-align: justify;
  }

  .services-container {
    flex-direction: column;
  }

  .s-card {
    width: 100%;
    height: max-content;
  }
  
  .s-card-icn {
    width: 48px;
    height: 48px;
  }
}