* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --nf-blue: #084ccf;
  --nf-font: #4b5361;
  --nf-white: #f6f5f0;
  --nf-white-btn: #f6f5f0;
  --nf-line: #DCDCDC;
  --nf-line-git: #c7d3e9;
  --nf-black: #222222;
  --nf-gray-card: #E7E7E7;
  --nf-white-alternative: #FAFAFA;
  --transicao: background-color 200ms ease, color 200ms ease;

  /* FOOTER COLORS */
  --nff-white: #f6f5f0;
  --nff-blue: #084ccf;
  --nff-contrast: #C0C5CE;
  --nff-line: #215ed4;

  /* FONTS */
  --nf-title: 'Poppins', sans-serif;
  --nf-subtitle: 'IBM Plex Sans', sans-serif;
  --nf-logo: 'Coolvetica', sans-serif;
  --nf-subtitle-alternative: 'JetBrains Mono', sans-serif;
}

.dark-mode {
  --nf-blue: #084ccf;
  --nf-font: #EDEDF3;
  --nf-white: #0F0F0F;
  --nf-white-btn: #f6f5f0;
  --nf-line: #21262D;
  --nf-line-git: #21262D;
  --nf-gray-card: #282828;
  --nf-black: #FAFAFA;
  --nf-white-alternative: #21262D;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--nf-white);
  font-family: var(--nf-subtitle);
  transition: var(--transicao);
  overflow-x: hidden;
  margin-top: 2rem;
}

.container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* RETUNR BUTTON */

#return_button {
  width: 48px;
  height: 48px;
  background-color: var(--nf-white);
  border: 1px solid var(--nf-black);
  color: var(--nf-black);
  font-size: 20px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: ease 200ms;
}

#return_button:hover {
  background-color: var(--nf-black);
  color: var(--nf-white);
  transform: translateY(-5px);
}

/* NAVBAR */

nav {
  width: 100%;
  height: 3rem;
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--nf-white);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  text-decoration: none;
  color: var(--nf-blue);
  font-family: var(--nf-logo);
  font-size: 32px;
}

.nav-routes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.nav-phone-routes {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#drpbtn {
  border-radius: 0px;
  background-color: var(--nf-);
  color: var(--nf-font);
  border: 1px solid var(--nf-font);
}

.nav-routes > button {
    font-family: 'JetBrains Mono', sans-serif;
    text-decoration: none;
    font-size: .875rem;
    color: var(--nf-font);   
    transition: all 250ms;
    background-color: transparent;
    border: none;
}

.nav-routes > button:hover {
  color: var(--nf-blue);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--nf-blue);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--nf-blue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-57 {
  position: relative;
  overflow: hidden;
  border: none;
  color: var(--nf-font);
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 16px 10px;
  text-decoration: none;
  cursor: pointer;
  background: var(--nf-white);
  font-family: var(--nf-subtitle-alternative);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--nf-blue);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* BANNER */

#banner {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.banner-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.banner-info > h1 {
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.banner-info > h2 {
  color: var(--nf-font);
  font-family: var(--nf-subtitle);
  line-height: 1.6;
  font-size: 20px;
}

.banner-buttons {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  justify-content: start;
}

.banner-buttons > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background-color: var(--nf-blue);
  text-decoration: none;
  color: var(--nf-white-btn);
  height: 40px;
  padding: 0px 16px;
  transition: ease 200ms;
}

.banner-buttons > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background-color: var(--nf-white);
  color: var(--nf-font);
  border: 1px solid var(--nf-font);
  height: 40px;
  padding: 0px 16px;
  transition: ease 200ms;
}

.banner-buttons > button:hover {
  color: var(--nf-white);
  background-color: var(--nf-black);
}

.banner-buttons > button > i {
  font-size: 17px;
}

.banner-buttons > a:hover {
  opacity: 80%;
}

.banner-buttons > a > i {
  font-size: 17px;
}

.banner-image {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.banner-image > img {
  width: 450px;
}

/* ABOUT */

#about {
  width: 100%;
  height: 444px;
  display: flex;
  gap: 6rem;
  flex-direction: row;
}

.about-info {
  width: 30%;
  height: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

#line {
  width: 400px;
  height: 1px;
  background-color: var(--nf-line);
}

.about-info > h1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 400;
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.about-info > p {
  font-size: 19px;
  line-height: 1.7;
  text-align: justify;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
}

.about-card {
  width: calc(100% - 30%);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.a-card {
  width: 100%;
  height: max-content;
  background-color: var(--nf-white);
  border: 1px solid var(--nf-line);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.a-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.a-card-header-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.a-card-header-profile > img {
  width: 56px;
  height: 56px;
}

.a-card-header-profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.a-card-header-profile-info > h1 {
  color: var(--nf-black);
  font-family: var(--nf-title);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.a-card-header-profile-info > h2 {
  color: var(--nf-font);
  font-family: var(--nf-subtitle);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.a-card-header-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-decoration: none;
  color: var(--nf-font);
}

.a-card-header-social > a:hover {
  opacity: 85%;
}

.a-card-container {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.a-card-item {
  display: flex;
  width: 239px;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 5px;
  border: 1px solid var(--nf-line);  
}

.a-card-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.a-card-item-header > img {
  width: 16px;
}

.a-card-item-header > h1 {
  color: var(--nf-blue);
  font-family: var(--nf-title);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  padding-top: 10px;
}

.a-card-item > p {
  color: var(--nf-font);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.a-card-item > li {
  color: var(--nf-font);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* SKILLS */

#skills {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.skills-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.skills-header > h1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 400;
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.skills-header > p {
  font-size: 19px;
  line-height: 1.7;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
  padding-bottom: 1rem;
}

.skills-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.skills-item {
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--nf-line);
  font-family: var(--nf-title);
  color: var(--nf-font);
  transition: ease 200ms;
  user-select: none;
}

.skills-btn {
  width: 300px;
  height: 120px;
  background-color: var(--nf-blue);
  color: var(--nf-white-btn);
  display: flex;
  padding: 1rem;
  border: none;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  font-family: var(--nf-title);
  transition: ease 200ms;
}

.skills-btn:hover {
  opacity: 90%;
  transform: translateY(-5px);
}

.skills-btn > span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 20px;
}

.skills-item:hover {
  transform: translateY(-5px);
}

.skills-item > i {
  font-size: 40px;
}

/* PROJECTS */

#projects {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.projects-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.projects-header > h1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 400;
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.projects-header > p {
  font-size: 19px;
  line-height: 1.7;
  text-align: justify;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
  padding-bottom: 1rem;
}

.projects-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.projects-item img {
  width: 99.99%;
}

.projects-item {
  width: 400px;
  height: max-content;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--nf-gray-card);
  border: 1px solid var(--nf-line);
}

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.projects-item-body {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.projects-item-body > h1 {
  color: var(--nf-blue);
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.3px; /* 170% */
}

.projects-item-body > p {
  color: var(--nf-font);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projects-item-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0px 1rem;
}

#repobtn {
  display: flex;
  width: 258px;
  height: 40px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--nf-font);
  color: var(--nf-font);
  text-decoration: none;
  transition: ease 200ms;
}

#repobtn:hover {
  background-color: var(--nf-black);
  color: var(--nf-white);
}

#trybtn {
  display: flex;
  width: 89px;
  height: 40px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nf-blue);
  color: var(--nf-white-btn);
  text-decoration: none;
  transition: ease 200ms;
}

#trybtndsct {
  display: flex;
  width: 89px;
  height: 40px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nf-font);
  color: var(--nf-white);
  text-decoration: none;
  transition: ease 200ms;
  cursor: not-allowed;
  border: none;
}

#trybtn:hover {
  opacity: 80%;
}

/* GET IN TOUCH */

#getintouch {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.getintouch-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.getintouch-header > h1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 400;
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.getintouch-header > p {
  font-size: 19px;
  line-height: 1.7;
  text-align: justify;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
  padding-bottom: 1rem;
}

#cnt {
  background-color: var(--nf-line-git);
  width: 100%;
  height: 1px;
}

.getintouch-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.getintouch-body-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.getintouch-body-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getintouch-body-right-container {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

#details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#details > h1 {
  font-size: 12px;
  text-transform: uppercase;
  font-family: var(--nf-title);
  font-weight: 600;
  color: var(--nf-blue);
  margin-bottom: 1rem;
}

#details > p {
    font-family: var(--nf-title);
    font-size: 14px;
    color: var(--nf-font);
    line-height: 1;
}

#details > a {
    font-family: var(--nf-title);
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    color: var(--nf-font);
}

.getintouch-body-left-card {
  width: 600px;
  height: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 1px solid var(--nf-line);
}

#contactForm {
  width: 100%;
}

#contactForm > input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 0px 8px;
  background-color: transparent;
  border-bottom: 1px solid var(--nf-line);
  outline: none;
  transition: ease 250ms;
  color: var(--nf-font);
}

#contactForm > textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 8px;
  resize: none;
  outline: none;
  border-bottom: 1px solid var(--nf-line);
  color: var(--nf-font);
}

#contactForm > input:focus {
  border-bottom: 1px solid var(--nf-blue);
}

#contactForm > label {
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
  margin-left: 8px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: start;
  gap: 1rem;
}

#contactForm > button {
  width: 50%;
  height: 40px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  background-color: var(--nf-blue);
  color: var(--nf-white-btn);
}

#contactForm > button:hover {
  opacity: 80%;
}

#contactForm > button > i {
  font-size: 20px;
}

/* FOOTER */

.footer {
  margin-top: 3rem;
  width: 100%;
  height: max-content;
  display: flex;
  gap: 1rem;
  background-color: var(--nff-blue);
}

.footer-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 64px 24px;
  background-color: var(--nff-blue);
  margin: 0px 116px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.footer-logo > p {
  font-size: 12px;
  font-family: var(--nf-subtitle);
  color: var(--nff-contrast);
}

#footer-logo {
  text-decoration: none;
  color: var(--nff-white);
  font-family: var(--nf-logo);
  font-size: 32px;
}

.footer-col {
  width: 178px;
  height: 188px;
  display: flex;
  flex-direction: row;
}

.footer-line {
  width: 1px;
  height: 100%;
  background-color: var(--nff-line);
  margin-right: 40px;
}

.footer-content {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.footer-content > h1 {
  font-size: 20px;
  color: var(--nff-white);
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-family: var(--nf-title);
}

.footer-content > a {
  text-decoration: none;
  font-family: var(--nf-subtitle);
  color: var(--nff-contrast);
  font-size: 14px;
}

.footer-content > a:hover {
  color: var(--nff-white);
}

.footer-content > button {
  text-decoration: none;
  font-family: var(--nf-subtitle);
  color: var(--nff-contrast);
  font-size: 14px;
  border: none;
  background: transparent;
}

.footer-content > button:hover {
  color: var(--nff-white);
}

#btnModo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 1rem;
  width: 136px;
  height: 40px;
  border: var(--nff-white) 1px solid;
  background-color: var(--nff-blue);
  color: var(--nff-white);
}

/* CERTIFICATES SECTION */

#certificates {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.certificates-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.certificates-header > h1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 400;
  color: var(--nf-blue);
  font-family: var(--nf-title);
}

.certificates-header > p {
  font-size: 19px;
  line-height: 1.7;
  text-align: justify;
  font-family: var(--nf-subtitle);
  color: var(--nf-font);
  padding-bottom: 1rem;
}

.certificates-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

/* PHONE SCREEN */

@media (max-width: 470px) {
  .container {
    padding: 0px 1.5rem;
  }
  nav {
    position: sticky;
    top: 0;
    background-color: var(--nf-white);
  }
  #banner {
    height: 400px;
  }
  .nav-routes {
    display: none;
  }
  .nav-phone-routes {
    display: flex;
  }
  .banner-image {
    display: none;
  }
  .banner-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .banner-info > h1, h2 {
    text-align: left;
  }
  .banner-info > h1 {
    font-size: 2rem;
  }
  .banner-info > h2 {
    line-height: 1.7;
    text-align: justify;
    font-family: var(--nf-subtitle);
    color: var(--nf-font);
    font-size: 19px;
  }
  .banner-buttons {
    width: 100%;
    align-items: center;
    justify-content: start;
  }

  .banner-buttons > button {
    width: 172px;
  }

  /* ABOUT PHONE */

  #about {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
  }

  #line {
    width: 100%;
  }

  .about-info {
    width: 100%;
    height: max-content;
  }

  .about-card {
    width: 100%;
  }

  .a-card-header {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .a-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  /* SKILLS */

  .skills-header {
    width: 100%;
    text-align: justify;
  }

  .skills-wrapper {
    align-items: center;
    justify-content: center;
  }

  /* PROJECTS */

  .projects-item {
    width: 100%;
  }

  /* GET IN TOUCH */

  .getintouch-body-right {
    display: none;
  }

  .getintouch-body-left {
    width: 100%;
  }

  .getintouch-body-left-card {
    width: 100%;
  }
  #contactForm > button {
    width: 100%;
  }

  /* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 4rem;
}

  .footer-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .footer-logo {
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .footer-line {
    display: none;
  }

  .footer-content {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
  }


}

@media (max-width: 990px) {
  .container {
    padding: 0px 1.5rem;
  }
  nav {
    position: sticky;
    top: 0;
    background-color: var(--nf-white);
  }
  #banner {
    height: 400px;
  }
  .nav-routes {
    display: none;
  }
  .nav-phone-routes {
    display: flex;
    flex-direction: column;
  }
  .banner-image {
    display: none;
  }
  .banner-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .banner-info > h1, h2 {
    text-align: left;
  }
  .banner-info > h1 {
    font-size: 2rem;
  }
  .banner-info > h2 {
    line-height: 1.7;
    text-align: justify;
    font-family: var(--nf-subtitle);
    color: var(--nf-font);
    font-size: 19px;
  }
  .banner-buttons {
    width: 100%;
    align-items: center;
    justify-content: start;
  }

  .banner-buttons > button {
    width: 172px;
  }

  /* ABOUT PHONE */

  #about {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
  }

  #line {
    width: 100%;
  }

  .about-info {
    width: 100%;
    height: max-content;
  }

  .about-card {
    width: 100%;
  }

  .a-card-header {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .a-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  /* SKILLS */

  .skills-header {
    width: 100%;
    text-align: justify;
  }

  .skills-wrapper {
    align-items: center;
    justify-content: center;
  }

  /* PROJECTS */

  .projects-item {
    width: 100%;
  }

  /* GET IN TOUCH */

  .getintouch-body-right {
    display: none;
  }

  .getintouch-body-left {
    width: 100%;
  }

  .getintouch-body-left-card {
    width: 100%;
  }
  #contactForm > button {
    width: 100%;
  }

  /* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 4rem;
}

  .footer-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .footer-logo {
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .footer-line {
    display: none;
  }

  .footer-content {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
  }


}